.AchPicSwiper {
  width: 60%;
  height: 700px;
}

.AchievementText {
  color: #6a2bbd;
}

@media (max-width: 520px) {
  .AyaProfile {
    max-width: 9rem;
    top: -40%;
  }
  .AchPicSwiper {
    width: 90%;
    height: 250px;
  }
}

@media (min-width: 521px) and (max-width: 820px) {
  .AyaProfile {
    max-width: 12rem;
    top: -25%;
  }
  .AchPicSwiper {
    width: 70%;
    height: 310px;
  }
}

@media (min-width: 821px) and (max-width: 1123px) {
  .AyaProfile {
    max-width: 15rem;
    top: -10%;
  }
  .AchPicSwiper {
    width: 604px;
    height: 400px;
  }
}

@media (min-width: 1124px) and (max-width: 1423px) {
  .AyaProfile {
    max-width: 18rem;
  }
  .AchPicSwiper {
    width: 780px;
    height: 600px;
  }
}

@media (min-width: 1424px) {
  .AyaProfile {
    max-width: 22rem;
    top: 0;
  }
  .AchPicSwiper {
    width: 900px;
    height: 750px;
  }
}
