.HomeText {
  margin-top: 5px;
  max-width: 80%;
}
.HomePhoto {
  position: relative;
  width: 90%;
  opacity: 0.55;
  animation: photoColor ease-in 2.3s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes photoColor {
  from {
    filter: saturate(0);
  }

  to {
    filter: saturate(1.2);
  }
}

.Home {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Title{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 10rem;
  color: #702cc4;
}
.Title1{

}
.Title2{

}

.move1 {
  position: relative;
  animation: move1 ease-in 2.3s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  left: 90px;
}

@keyframes move1 {
  from {
    left: -90px;
    top: -90px;
  }

  to {
    left: 0px;
    top: 0px;
  }
}

.move2 {
  position: relative;
  animation: move2 ease-in 2.3s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  left: 90px;
}

@keyframes move2 {
  from {
    left: 90px;
    top: 90px;
  }

  to {
    left: 0px;
    top: 0px;
  }
}

@media (max-width: 520px) {
  .Title{
    font-size: 5rem;
  }

}

@media (min-width: 521px) and (max-width: 820px) {
  .Title{
    font-size: 7rem;
  }
}

@media (min-width: 821px) and (max-width: 1123px) {
  .Title{
    font-size: 8.5rem;
  }

}

@media (min-width: 1124px) and (max-width: 1423px) {

}

@media (min-width: 1424px) {


}