.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.button {
  border: none;
  color: white;
  margin: 16px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  color: #8d5bca;
}

.button-selected {
  border: none;
  color: #702cc4;
  margin: 16px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.7rem;
  white-space: nowrap;
}

.Hamburger {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: fixed;
  margin-right: 4%;
  margin-top: 4%;
  top: 5px;
  right: -5px;
  z-index: 101;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.fadeIn {
  opacity: 1;
  background: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 100;
  transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
}

.Links {
  width: min-content;
  text-align: left;
  color: white !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 520px) {
  .button {
    margin: 2px;
    padding: 6px;
    font-size: 2.5rem;
    text-overflow: none;
  }

  .button-selected {
    margin: 2px;
    padding: 6px;
    font-size: 2.5rem;
    text-overflow: none;
  }
}

@media (min-width: 521px) and (max-width: 724px) {
  .button {
    margin: 4px;
    padding: 6px;
    font-size: 2.5rem;
    text-overflow: none;
  }

  .button-selected {
    margin: 4px;
    padding: 6px;
    font-size: 2.5rem;
    text-overflow: none;
  }

}

@media (min-width: 725px) and (max-width: 1123px) {
  .button {
    margin: 7px;
    font-size: 1.5rem;
    text-overflow: none;
  }

  .button-selected {
    margin: 7px;
    font-size: 1.5rem;
    text-overflow: none;
  }

}

@media (min-width: 1124px) and (max-width: 1423px) {
  .button {
    margin: 7px;
    font-size: 1.6rem;
    text-overflow: none;
  }

  .button-selected {
    margin: 7px;
    font-size: 1.6rem;
    text-overflow: none;
  }
}

@media (min-width: 1424px) {
  .button {
    margin: 7px;
    font-size: 1.7rem;
    text-overflow: none;
  }

  .button-selected {
    margin: 7px;
    font-size: 1.7rem;
    text-overflow: none;
  }
}